@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(253, 207, 121);
    font-family: Inter, sans-serif;
    padding: 10px;
}
header {
    margin-left: 27px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.links-header {
    margin-right: 20px;
    font-weight: 600;
    cursor:pointer;
}

img {
    width: 90%;
    max-width: 395px;
    height:auto;
    margin-bottom: 15px;
}

h2 {
    margin-left: 50px;
    font-weight: 700;
    font-size: 25px;
}

p {
    width: 390px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 10px;
}

button {
    background:rgb(96, 228, 96);
    height:35px;
    width: 155px;
    font-size: 17px;
    border-radius: 30.5px;
    border: none;
    margin-left: 129px;
    cursor:pointer;
    
}

@media screen and (max-width:375px) {
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links-header {
        font-weight: 400;
        font-size: 12px;
        margin-right: 5px;
        width: 90%;
        max-width: 350px;
    }

    img {
        width: 90%;
        max-width: 365px;
        height: auto;
       
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-weight: 500;
        font-size: 20px;
        margin-left: 0px;
    }

    p {
        width: 90%;
        max-width: 370px;
        height: auto;
        margin-left: 0px;
    }

    button {    
        width: 155px; 
        font-size: 15px; 
        margin-left: 0px; 
    }

}